blockquote {
  font-style: italic;
}
h1,h2 {
    font-family: "Verdana, Geneva, Arial";
    color: #CC6600;
    border-bottom: thin dotted #888888;
}
h2 {
    font-size: 1.3rem; /* 设置根元素字体大小 */
    font-weight: normal;
    font-weight: 400; 
}


h1 { 
   font-size: 2.2rem; /* 设置根元素字体大小 */
}